nbproject/Makefile-*.mk
nbproject/private
nbproject/Package-*.bash
nbproject/Makefile-*.mk
nbproject/private
nbproject/Package-*.bash
*/nbproject/Makefile-*.mk
*/nbproject/private
*/nbproject/Package-*.bash
dist/
build/
.dep.inc

